.profile {
  border-radius: 5px;
  background-color: #fbfafa;
  border: solid 1px #efefef;
  margin-left: 0;

  ul {
    width: 100%;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
      font-size: 15px;
      list-style-type: none;
    }
  }
}
.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .card-heading {
    padding: 0 20px;
    margin: 0;
    &.simple {
      font-size: 20px;
      font-weight: 300;
      color: #777;
      border-bottom: 1px solid #e5e5e5;
    }
    &.image {
      img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .card-heading-header {
        display: inline-block;
        vertical-align: top;
        h3 {
          margin: 0;
          font-size: 14px;
          line-height: 16px;
          color: #262626;
        }
        span {
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
  .card-body {
    padding: 0 20px;
    margin-top: 20px;
  }
  .card-media {
    padding: 0 20px;
    margin: 0 -14px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
  }
  .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
    .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
      a,
      span {
        padding-right: 5px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card {
  &.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
    .card-top {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 150px;
      background-color: #ffffff;
      &.green {
        background-color: #53a93f;
      }
      &.blue {
        background-color: #427fed;
      }
    }
    .card-info {
      position: absolute;
      top: 150px;
      display: inline-block;
      width: 100%;
      height: 101px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .title {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #404040;
      }
      .desc {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        color: #737373;
        text-overflow: ellipsis;
      }
    }
    .card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      line-height: 29px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  &.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    .cardheader {
      background: url("http://lorempixel.com/850/280/nature/4/");
      background-size: cover;
      height: 135px;
    }
    .avatar {
      position: relative;
      top: -50px;
      margin-bottom: -50px;
      .gatsby-image-wrapper {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.5);
      }
    }
    .info {
      padding: 4px 8px 10px;
      .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
      }
      .desc {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
      }
    }
    .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
    }
  }
}

.btn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 18px;
}
